[core]
  editor = vim
[user]
  email = wicksy@wicksy.com
  name = Martin Wicks
[credential]
  helper = cache --timeout 30000
[alias]
  undo = reset --soft HEAD^
  stash-all = stash save --include-untracked
  glog = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
[merge]
  ff = only
  conflictstyle = diff3
[push]
  default = simple
[status]
  showUntrackedFiles = all
